:root {
    --color-primary-dark: #31261a;
    --color-primary-light: #faf4ea;
    --color-brand-dark: #465929;
    --color-brand-normal: #819b57;
    --color-brand-light: #cfcfdc;
    --color-secondary-dark: #a28268;
}