.tradition-section {
    padding-top: 96px;

    &__container {
            display: flex;
            justify-content: space-between;
            gap: 40px;
        }
        &__content {
            max-width: 710px;
        }
    
        &__title {
            margin-bottom: 42px;
            margin-top: auto;
        }
        &__text{
            &--limited {
                max-width: 340px;
            }
    }
}

