.tradition-section {
  padding-top: 40px;

  @media screen and (min-width: $bp-tablet) {
    padding-top: 96px;
  }

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
    // padding: 46px 0;
  }
  &__content {
    max-width: 710px;
  }

  &__title {
    margin-bottom: 42px;
    margin-top: auto;
  }
  &__text {
    &--limited {
      max-width: 340px;
    }
  }

  &__photo {
    display: none;
    border-radius: 400px 400px 0 0;

    @media screen and (min-width: $bp-tablet) {
      display: block;
    }
  }
}
