.button {
    padding: 16px 32px;
    font-weight: 600;
    color: var(--color-primary-light);
    border: 2px solid var(--color-brand-normal);
    background-color: var(--color-brand-normal);
    border-radius: 8px;
    cursor: pointer;
    transition: color 0.3s;
}

.button:hover {
    color: var(--color-brand-dark);
    background-color: transparent;
    transition: background-color 0.5s;
}