.formats-container {
    display: flex;
    align-items: center;
    gap: 32px;
}

.formats-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.formats-item {
    /* flex-grow: 1;
  flex-shrink: 0; */
    flex-basis: calc((100% - 40px) / 3);
    /* min-width: 290px; */
    /* flex: 1 0 calc(100% / 3 - 20px);
  box-sizing: border-box; */
}

.format-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    height: 444px;
    padding: 24px;
    background-image: linear-gradient(180deg,
            rgba(49, 38, 26, 0) 55.21%,
            rgba(49, 38, 26, 0.71) 72.92%,
            var(--color-primary-dark) 100%);
    border-radius: 16px;
    transition: transform 0.3s;
}

.format-card:hover {
    transform: scale(1.05);
}

.format-image {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.format-title {
    margin-bottom: 80px;

}

.formats-title {
    font-size: 24px;
    font-weight: 600;
    color: var(--color-primary-light);
}

.formats-text {
    font-size: 14px;
    font-weight: 300;
    color: var(--color-primary-light);
}