.tradition-section {
    padding-top: 96px;
}

.tradition-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.tradition-content {
    max-width: 710px;
}

.tradition-title {
    margin-bottom: 42px;
    margin-top: auto;
}

.tradition-text .brand {
    color: var(--color-brand-normal);
    font-size: 600;
}

.tradition-text .uppercase {
    text-transform: uppercase;
}

.tradition-text.limited {
    max-width: 340px;
}